



body {
	background-color: rgb(226, 223, 214);

}


nav {
	max-width: 800px
	margin: auto;
	font-family: Old Standard TT, serif;
	font-weight: 600;
	font-size: 1.5em;
	background-color: black;
}

nav ul {
	display: flex;
	align-items: stretch;
	flex-direction: row;
	justify-content: space-evenly;
}


nav ul li {
	background-color: black;
	flex-flow: row-wrap;
	align-items: stretch;
	list-style-type: none;
	padding: 1rem;
	max-width: 100%;

}


nav ul li a {
	text-decoration: none;
	color: whitesmoke;
}


main {
	max-width: 800px;
	margin: auto;
	font-size: 1.2rem;
}


p {
	font-family: 'Heebo', sans-serif;
	font-weight: 400;
	justify-content: flex-start;
	align-items: center;
	margin: 0.5rem;
}

p a {
	color: rgb(127, 128, 0);
	text-decoration: underline;
}

ul li a {
	text-decoration: underline;
	color: rgb(127, 128, 0);
}


1rem


footer {

}

h1 {
	font-family: 'Playfair Display', serif;
	font-weight: 900;
	font-size: 3rem;
	margin: 0.5rem;
}

h2 {
	font-family: 'Playfair Display', serif;
	font-weight: 600;
	font-style: italic;
}

.mailing-link {
	display: flex;
	flex-direction: column;
}

.journalism-sites ul li a {
	font-family: 'Old Standard TT', serif;
	font-weight: 400;
}

.punchline {
	font-family: 'Playfair Display', serif;
	font-style: italic;
}


.listings {
	background-color: black;
	display: flex;
	flex-wrap: wrap;
}

.list-item {
	display: flex;
	border-radius: 3px;
	color: whitesmoke;
}

.list-item h2 {
	display: flex;
	margin-left: 0.7rem;
}

.director-label {

}

.list-item .director-label {
	display: flex;
	font-weight: 200;
	margin-left: 0.7rem;
	
}

.list-item .desc-label {
	display: flex;
	font-weight: 400;
	color: whitesmoke;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	padding: 0.25rem;
	margin-top: -0.5rem;
}

.list-link a{
	color: rgb(255, 199, 82);
	text-decoration: underline solid rgb(255, 199, 82) 1px;
	margin-left: 0.2rem;
}

.list-image {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	position: relative;
}

.img-credit {
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 3;
	color: black;
	font-family: 'Old Standard TT', serif;
	font-size: 0.6rem;
	padding: 1rem;
}

.img-credit a {
	color: whitesmoke;
	background: black;
	border-radius: 2px;
	text-decoration: none;
}

.list-image img {
	max-width: 200px;
	margin: 1rem;
	border-radius: 3px;
}

@media screen and (max-width:479px) {
	body {
		background-color: whitesmoke;
		overflow-wrap: break-word;
	}

	main {
		width:100%;
	}

	img {
		align-items: center;
		max-width: 470px;
	}

	h1 {
		font-weight: 700;
		font-size: 1.5rem;
	}

	h2 {
		font-weight: 400;
		font-size: 2rem;
	}

	p {
		font-size: 1.2rem;
	}

	nav {
		max-width: 100%px;
		font-size: 1rem;
	}

	nav ul {
		display: flex;
		align-items: stretch;
		flex-direction: column;
		justify-content: space-between;
		margin: 0;
		padding: 0;
		border-radius: 0.5rem;
	}

	nav ul li {
		flex-flow: row-wrap;
		list-style-type: none;
		padding: 0.1rem;
		text-align: center;
		margin-top: 0.15rem;
	}

	nav ul li a {
		text-decoration: none;
		text-transform: capitalize;
	}
}

@media screen and (min-width:480px){
	body {
		background-color: rgb(200, 168, 155);
		overflow-wrap: normal;
	}

	h1 {
		font-size: 2rem;
	}
}

@media screen and (min-width:720px){
	body {
		background-color: rgb(226, 223, 214);
	}

	h1 {
		font-size: 3rem
	}
}
